.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.my-4 {
  background-color: rgb(23, 150, 23);
  margin-top: 1.5rem; 
  margin-bottom: 1.5rem;
}

.user-info div {
  display: flex;
  justify-content: flex-start;  /* Align items starting from the left */
  margin-bottom: 5px;
}

.user-info strong {
  min-width: 140px;  /* Adjust width for better alignment */
  text-align: right;  /* Align the label to the right */
  padding-right: 15px; /* Add space between label and value */
}

.user-info span {
  word-wrap: break-word;  /* Ensure text breaks and doesn't overflow */
  flex: 1;  /* Allow the value to take up the remaining space */
}


.profile-container {
  display: flex;
  flex-direction: column;  /* Stack image and button vertically */
  justify-content: center;  /* Center the items vertically */
  align-items: center;  /* Center the items horizontally */
}

.profile-container img {
  margin-bottom: 10px;  /* Add space between the image and the button */
}

.profile-container button {
  margin-top: 10px;  /* Optional: Adds some spacing between button and image */
}

